#header-logo {
	z-index: 10001;
	position: relative;
}
.cart-title .thumbhead {
	float:left;
}
.mainbox,
.contentarea{
	background-color: #252C2C;
}
.thumbspace.popup-cart {
	width: 98%;
	top:55px;
	background-color:#00AEEF;
}
#barcode .thumbbox {
	margin-left: 0px;
}
#barcode .title_bar,
.thumbspace.popup .thumbsgroup .thumbbox .thumbcrop  {
	width: 99%;
	margin: 0 auto;
}
.thumbspace.popup .thumbsgroup .thumbbox .thumbcrop {
	background: none;
	min-height:200px;
}

.thumbspace.popup-cart .thumblist{
	width:100%;
}

#barcode .buttom .actionlist{
	background: none;
}
#barcode .actionlist li:last-child{
	margin-right: 0px !important;
}

#barcode .cart-title {
	padding-right: 0px;
}

.tabledivision{
	width:100%;
	border-collapse: collapse;
}
	.tabledivision > tbody > tr > td{
		vertical-align: top;
	}

.basic-barcodetable{
	font:normal 12px/18px Tahoma;
	width:100%;
}
.basic-barcodetable .rowhead > td{
	text-align: center;
	font-weight: bold;
	padding:3px 0;
	background-color: #eaeaea;
	height:auto;
}	
	.basic-barcodetable > tbody > tr > td{
		border:1px solid #999;
	}
	.basic-barcodetable .col1,
	.basic-barcodetable .col2,
	.basic-barcodetable .col3,
	.basic-barcodetable .col4,
	.basic-barcodetable .col5,
	.basic-barcodetable .col6,
	.basic-barcodetable .col7,
	.basic-barcodetable .col8,
	.basic-barcodetable .col9,
	.basic-barcodetable .col10,
	.basic-barcodetable > tbody > tr > td{
		background: #fff;
		height:75px;
	}

	.basic-barcodetable .col1,
	.basic-barcodetable .col2,
	/*.basic-barcodetable .col3,*/
	.basic-barcodetable .col4,
	.basic-barcodetable .col5,
	.basic-barcodetable .col6,
	.basic-barcodetable .col7,
	.basic-barcodetable .col8,
	.basic-barcodetable .col9,
	.basic-barcodetable .col10{
		text-align:center;
	}
	/*--width--*/
	.basic-barcodetable .col1,
	.basic-barcodetable .col2,
	/*.basic-barcodetable .col3,*/
	.basic-barcodetable .col4,
	.basic-barcodetable .col5,
	.basic-barcodetable .col6,
	.basic-barcodetable .col7,
	.basic-barcodetable .col8,
	/*.basic-barcodetable .col9,*/
	.basic-barcodetable .col10{
		width:80px;
	}
	.basic-barcodetable .col1{
		width:40px;
		font-size: 14px;
	}
	.basic-barcodetable .col3{
		text-align:left;
	}
		.basic-barcodetable .col3 .codewrap{
			padding:0 0px;
			white-space: normal;
			text-align: center;
		}
		.basic-barcodetable .col3 .codewrap span{
		}
	.basic-barcodetable .spacetd{
		background: none !important;
		border-bottom:0px;
		border-top:0px;
		width:15px;
	}
	.basic-barcodetable .spacetd.lasttd{
		border-right:0px;
	}
	.basic-barcodetable .img{
		position: relative;
		text-align: center;
	}
	.basic-barcodetable .img img{
		clear: left;
		max-height:300px;
	}
	.basic-barcodetable .title,
	.basic-barcodetable .edit{
		display:block;
		z-index: 5;
		width:100%;
		text-align: center;
		padding:5px 0;
	}
.tmbnmat > img{
	max-height:100%;
}
.leftcolumn{
	width:200px;
}
.rightcolumn{
	width:70px;
}
#barcode .quantity{
	text-align: center;
	font-size: 14px;
}
.btnBC{
	width:50px;
	height:50px;
	margin:0 auto;
	cursor:pointer;
}
.btnBC-up{
	background:url(img/up.png) no-repeat;
}
.btnBC-down{
	background:url(img/down.png) no-repeat;
}
.btnBC-delete{
	background:url(img/cross.png) no-repeat;
}
.btnBC-plus{
	background:url(img/plus.png) no-repeat;
}

#barcode .thumbsgroup{
	position: relative;
	overflow: hidden;
}

#barcode #barcodeinputwrapper{
	text-align:left;
	margin-bottom: 2px;
	width:80%;
	margin:0;
	float:left;
}
.rightwrapper{
	overflow:hidden;
}
#barcodeinputwrapper .inputwrapper{
	overflow:hidden;
	margin-right:10px;
}
.rightwrapper .btnsubmit{
	width:90%;
	float:right;
	height:30px;
	line-height: 30px;
	background: linear-gradient(#D5D5D5, #676767);
	border-radius: 4px;
	border:0px;
}
#barcodeinputwrapper .title{
	display:inline-block;
	margin-left:10px;
	float:left;
}
#barcodeinputwrapper .barcodeinput{
	float:left;
	margin-left: 10px;
	width:99%;
}
#header_detail,
#balloonInCart,
#pricebox{
	width:98%;
	margin:0;
}


#barcode #header_officer {
	width: 69.5%;
	border: 1px solid #231F20;
	padding: 1%;
	margin: 0 0.5% 2px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#barcode #quotation_detail {
	width: 30%;
	float: left;
	border: 1px solid #231F20;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#barcode #header_customer {
	width: 100%;
	border: 1px solid #231F20;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#barcode #pricebox #shipping {
	width: 100%;
	border: 1px solid #231F20;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#barcode #bank .payments {
	margin-right: 0;
}
#barcode #bank .payments input[type='text']{
	padding-right:5px;
}
#balloonInCart{
	margin:0 auto;
}
.matTH{
	text-align: center;
	border-top: 1px solid #eaeaea;
	margin-top: 5px;
	padding-top: 5px;
}

.overlay{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.9);
	z-index:10000;
	display:none;
}
.overlay-boxcode{
	position:fixed;
	top:200px;
	left:50%;
	margin:0 0 0 -200px;
	width:400px;
	height:100px;
	background:#fff;
	line-height:100px;
	z-index:10001;
	border-radius:6px;
	text-align:center;
	display:none;
}
.overlay-boxcode input[type="text"]{
	font-size:16px;
	height:30px;
	line-height:30px;
	width:80%;
}
.overlay-boxcode .title{
	position:absolute;
	top: 5px;
	left: 41px;
	line-height: 22px;
}
.overlay > span{
	font-size:16px;
	color:#fff;
	display:block;
	position:absolute;
	right:20px;
	top:50px;
	cursor:pointer;
}

.btn-trash{
	width:25px;
	height:32px;
	background:url(img/trash.png);
	position: absolute;
	bottom:5px;left:8px;
}
.outstock .matnumber{
	background-color:#f00 !important;
	color:#fff;
}
.matnumber{
	-webkit-transition: color 0.5s ease-out,  background-color 0.5s ease-out;
	-o-transition: color 0.5s ease-out,  background-color 0.5s ease-out;
	transition: color 0.5s ease-out,  background-color 0.5s ease-out;
}



/** tablet style
*
*/
.touch #barcode .title_bar:first-child {
	margin-top: 0px;
}
.touch #barcode .title_bar {
	height: 42px;
	line-height: 42px;
	padding-top: 0px;
	margin-top: 8px;
}
.touch #barcode .balloonarticon-down, .touch #barcode .balloonarticon-up {
	font-size: 32px;
	text-decoration: none;
}
.touch #barcode #barcodeinputwrapper .barcodeinput {
	font-size: 28px;
	line-height: inherit;
	height: 40px;
}
.touch #barcode .rightwrapper .btnsubmit{
	height: 42px;
	line-height: 40px;
}



.balloonprice {}
.balloonprice-title{
    float:left;
    width:100px;
	padding-left:10px;
	font-weight:bold;
}
.balloonprice-price{
    position:relative;
    overflow:hidden;
}
#barcodeballoon{text-transform:uppercase;}

.thumbspace.popup .thumbsgroup.col-left {
    width: 55% !important;
    float:left;
}
.col-right{
    position:relative;
    overflow:hidden;
}
.thumbspace.popup .thumbsgroup.col-right{
	width:auto !important;
	float:none;
}
#bank .paydetail {
	float: left;
	width: 55%;
}
#bank {
	clear:left;
}
#bank .payments{
	position: relative;
	overflow: hidden;
	float: none;
	width:auto;
}
.payments .table{
	width:auto;
	float:right;
}
#header_detail, #pricebox {
	display: block !important;
}
.hidden{
	visibility: hidden;
}
.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content{max-height:600px; overflow-y:scroll; text-align:left;}
.ui-autocomplete li{clear:both; float:none; display:block;}
.list_item_container .image{float:left;}
.list_item_container a{display:black;}
.lnclear{clear:both;float:none; height:1px;}

.shippingbox{
	display: none;
}
.ui-menu .ui-menu-item a::after{
    content: "";
    display: block;
    clear: both;
}

span.gas select {
    width: 60px;
    margin: 0 5px;
}

#shipping label{
	display:inline;
	font-size: 12px;
}
ul.shippingprice {
    clear:left;
    width:100%;
    display: block;
}
ul.shippingprice select{
    width:100%;
}


ul#ui-id-1 {}

li.ui-menu-item {
    text-align: center;
}

.ui-corner-all {}

.list_item_container {}

.ui-menu-item a:hover{
    background:#fff !important;
    border-color:#ccc;
    color:#333 !important;
}

.list_item_container .image {
    text-align:center;
    float:none;
}
.list_item_container .image img{
    max-height:80px;
    width:auto !important;
}

.list_item_container .txt {
    
}
.tooltip {
    z-index:99;
}
.input-group {margin-bottom:10px;}
.input-group-addon, .form-control, input[type=text].form-control{height:32px;}
.panel-body{overflow-y:scroll; max-height:550px; overflow-x:hidden; padding-bottom:80px;}
.bottom-button{padding-right:60px;}

#shipping_taxi{
	margin-bottom: 0px;
}
.btn.btn-default.cbox{height:20px; padding:0 10px;}

.overlay .error{
	display:none;
	
    position:absolute;
    color:#fff;
    top:50%;
    left:0%;
    right:0%;
    bottom:50%;line-height:0px;
    text-align:center;
    white-space:nowrap;
}
.overlay[isBlock="true"] span{
	display:none;
}
#barcode.xs-layout .col-right{
	display:none;
}
#barcode.xs-layout .col-left{
	width:100% !important;
}
#barcode .col-left{
	float:left;
	width:50%;
}
#barcode .col-right{
	float:left;
	width:50%;
	overflow:auto;
}
#barcode .thumbsgroup.col-left{
	width:100% !important;
}
#barcode.xs-layout .col-right .iScrollVerticalScrollbar.iScrollLoneScrollbar {
    display:none !important;
}
#cart_item_title .balloonarticon-maximum,
#cart_item_title .balloonarticon-minimum{
	font-size: 24px;
	position: absolute;
	right: 10px;
	color: #fff;
	cursor:pointer;
}
#barcode{
	display:none;
}
.price-1.price-1{
	height:auto;
	text-align: center;
	padding:10px 0;
}
#header_customer .titleform{
	width:auto;
	min-width:40px;
}
#header_customer .formcontrol,
#header_customer .titleform{
	margin-bottom: 5px;
}
.inline{
	display:inline-block;
}
.title-receipt{
	float:left;
	margin-left:20px;
}
.inputwrapper-receipt{
	position: relative;
	overflow: hidden;
	text-align: left;
	padding-left: 20px;
}

@media screen and ( max-width : 1300px ){
	ul.newmainmenu {
	    margin-left:20px;
	}

	ul.newmainmenu a.menubtn {
	    padding-left:5px;
	    padding-right:5px;
	    font-size:14px;
	}

	
}
@media screen and ( max-width : 1090px ){
	li.officer {
	    max-width:85px;
	    position: relative;
	    overflow: hidden;
	    white-space: nowrap;
	    -webkit-transition: max-width 2s;
	    -o-transition: max-width 2s;
	    transition: max-width 2s;
	    position: relative;
	}
	li.officer .title{
		display:none;
	}
	li.officer:after{
		position:absolute;
		width:30px;
		right:0px;
		top:0px;
		height:20px;
		display:block;
		content:"";
		background: -moz-linear-gradient(left,  rgba(77,77,77,0) 18%, rgba(77,77,77,1) 94%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(18%,rgba(77,77,77,0)), color-stop(94%,rgba(77,77,77,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(77,77,77,0) 18%,rgba(77,77,77,1) 94%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(77,77,77,0) 18%,rgba(77,77,77,1) 94%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(77,77,77,0) 18%,rgba(77,77,77,1) 94%); /* IE10+ */
		background: linear-gradient(to right,  rgba(77,77,77,0) 18%,rgba(77,77,77,1) 94%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004d4d4d', endColorstr='#4d4d4d',GradientType=1 ); /* IE6-9 */
	}
	li.officer:hover,
	li.officer.show{
	    width:auto;
	    max-width:9999px;
	}
	li.officer:hover:after,
	li.officer.show:after{
	    display:none;
	}
}


#balloonInCart.layout2 .for-layout2-hide,
#balloonInCart.layout2 .leftcolumn{
	display:none;
}

.filter .title {
    float:left;
    width:10%;
}
.filter .inputwrapper{
    width:22.5%;
    float:left;
}
.filter .inputwrapper input[type='text'],
.filter .inputwrapper select{
    width:100%;
    height:20px;
    margin-bottom:5px;
}
#barcode .title_bar.filter{
    width:80%;
    margin:0;
    float:left;
    height:auto;
}
span.gas {
    display:block;
    border:1px solid #999;
    border-radius:4px;
    padding:5px;
    margin:5px;
    white-space:normal;
    box-shadow:2px 2px 4px rgba(0,0,0,0.2);
}